/* ICOMOON CODE */
@font-face {
	font-family: 'simple-social-icons';
	src: url('fonts/simple-social-icons.eot?#') format('eot'),
		url('fonts/simple-social-icons.svg#simple-social-icons') format('svg'),
		url('fonts/simple-social-icons.woff') format('woff'),
		url('fonts/simple-social-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'simple-social-icons';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'simple-social-icons';
	font-style: normal;
	speak: none;
}
.icon-facebook:before {
	content: "\22";
}
.icon-facebook-2:before {
	content: "\23";
}
.icon-facebook-3:before {
	content: "\24";
}
.icon-twitter:before {
	content: "\25";
}
.icon-twitter-2:before {
	content: "\26";
}
.icon-twitter-3:before {
	content: "\27";
}
.icon-linkedin:before {
	content: "\28";
}
.icon-linkedin-2:before {
	content: "\29";
}
.icon-linkedin-3:before {
	content: "\2a";
}
.icon-google-plus:before {
	content: "\2b";
}
.icon-google-plus-2:before {
	content: "\2c";
}
.icon-google-plus-3:before {
	content: "\2d";
}
.icon-pinterest:before {
	content: "\2e";
}
.icon-pinterest-3:before {
	content: "\2f";
}
.icon-pinterest-2:before {
	content: "\30";
}
.icon-tumblr:before {
	content: "\31";
}
.icon-tumblr-2:before {
	content: "\32";
}
.icon-tumblr-3:before {
	content: "\33";
}
.icon-stumbleupon:before {
	content: "\34";
}
.icon-stumbleupon-2:before {
	content: "\35";
}
.icon-stumbleupon-3:before {
	content: "\36";
}
.icon-reddit:before {
	content: "\37";
}
.icon-reddit-2:before {
	content: "\4f";
}
.icon-reddit-3:before {
	content: "\53";
}
.icon-share:before {
	content: "\5e";
}
.icon-delicious:before {
	content: "\5c";
}
.icon-email-2:before {
	content: "\5f";
}
.icon-email:before {
	content: "\21";
}

/* Color classes */
.icon-facebook.sst-color:before, .icon-facebook.sst-color:visited:before, .icon-facebook-2.sst-color:before, .icon-facebook-2.sst-color:visited:before, .icon-facebook-3.sst-color:before, .icon-facebook-3.sst-color:visited:before {
    color: #3B5998;
}
.icon-twitter.sst-color:before, .icon-twitter.sst-color:visited:before, .icon-twitter-2.sst-color:before, .icon-twitter-2.sst-color:visited:before, .icon-twitter-3.sst-color:before, .icon-twitter-3.sst-color:visited:before {
    color: #00aced;
}
.icon-linkedin.sst-color:before, .icon-linkedin.sst-color:visited:before, .icon-linkedin-2.sst-color:before, .icon-linkedin-2.sst-color:visited:before, .icon-linkedin-3.sst-color:before, .icon-linkedin-3.sst-color:visited:before {
    color: #0181b2;
}
.icon-google-plus.sst-color:before, .icon-google-plus.sst-color:visited:before, .icon-google-plus-2.sst-color:before, .icon-google-plus-2.sst-color:visited:before, .icon-google-plus-3.sst-color:before, .icon-google-plus-3.sst-color:visited:before {
    color: #D6492C;
}
.icon-tumblr.sst-color:before, .icon-tumblr.sst-color:visited:before, .icon-tumblr-2.sst-color:before, .icon-tumblr-2.sst-color:visited:before, .icon-tumblr-3.sst-color:before, .icon-tumblr-3.sst-color:visited:before {
    color: #3C5A76;
}
.icon-pinterest.sst-color:before, .icon-pinterest.sst-color:visited:before, .icon-pinterest-2.sst-color:before, .icon-pinterest-2.sst-color:visited:before, .icon-pinterest-3.sst-color:before, .icon-pinterest-3.sst-color:visited:before {
    color: #cb2027;
}
.icon-stumbleupon.sst-color:before, .icon-stumbleupon.sst-color:visited:before, .icon-stumbleupon-2.sst-color:before, .icon-stumbleupon-2.sst-color:visited:before, .icon-stumbleupon-3.sst-color:before, .icon-stumbleupon-3.sst-color:visited:before {
    color: #EB4924;
}
.icon-reddit.sst-color:before, .icon-reddit.sst-color:visited:before {
    color: #000;
}
/* reddit icon requires a bit of hackery */
.icon-reddit-2.sst-color:before, .icon-reddit-2.sst-color:visited:before, .icon-reddit-3.sst-color:before, .icon-reddit-3.sst-color:visited:before {
color: #CEE3F8;
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(64%,rgba(0,0,0,1)), color-stop(65%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 64%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}